@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
    font-family: Roboto;
}
#bigrectangle {
    box-sizing: border-box;
    position: absolute;
    width: 1110px;
    height: 780px;
    left: 2260px;
    top: 950px;
    border: 4px solid #C4C4C4;
    border-radius: 30px;
}
#yellrectangle {
    position: absolute;
    width: 1104px;
    height: 90px;
    background: #FFDC40;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.heading {
    position: absolute;
    width: 598px;
    left: 248px;
    top: 70px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 87px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}
#smallrectangle {
    box-sizing: border-box;
    position: absolute;
    width: 945px;
    height: 132px;
    left: 90px;
    top: 385px;
    border: 1px solid #C4C4C4;
    border-radius: 35px;
}
.X {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 672px;
    top: 359px;
    border-color: #C4C4C4;
}
#purplerectangle {
    position: absolute;
    width: 500px;
    height: 140px;
    left: 300px;
    top: 575px;
    background: #833AE0;
    border-radius: 71px;
}
#circle {
    position: absolute;
    width: 140px;
    height: 140px;
    background: #9953F1;
    border-radius: 71px;
}
.add {
    position: absolute;
    height: 42px;
    left: 175px;
    top: -6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 10px;
    font-size: 47px;
    color: #FFFFFF;
}
.plus {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 57px;
    top: -6px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 47px;
    color: #FFFFFF;
}
